In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import tree
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()

In [3]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [4]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [5]:
df["target"] = iris.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [6]:
X = df.drop("target", axis=1)
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [7]:
y = df.target
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [10]:
lr = LogisticRegression()
lr.fit(X_train,y_train)
lr.score(X_test,y_test)

0.9555555555555556

In [11]:
dt = tree.DecisionTreeClassifier()
dt.fit(X_train,y_train)
dt.score(X_test,y_test)

0.9555555555555556

In [12]:
svm = SVC()
svm.fit(X_train,y_train)
svm.score(X_test,y_test)

0.9777777777777777

In [13]:
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
rf.score(X_test,y_test)

0.9333333333333333

In [14]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
kf = KFold(n_splits=3)
kf

KFold(n_splits=3, random_state=None, shuffle=False)

In [29]:
cv = KFold(n_splits=5, shuffle=True, random_state=42)
lr_score = cross_val_score(LogisticRegression(), X, y, cv=cv)
np.average(lr_score)

np.float64(0.9733333333333334)

In [30]:
dt_score = cross_val_score(tree.DecisionTreeClassifier(), X, y, cv=cv,)
np.average(dt_score)

np.float64(0.9533333333333335)

In [31]:
svm_score = cross_val_score(SVC(), X, y, cv=cv)
np.average(svm_score)

np.float64(0.9666666666666668)

In [32]:
rf_score = cross_val_score(RandomForestClassifier(), X, y, cv=cv)
np.average(rf_score)

np.float64(0.9600000000000002)

In [33]:
scores1 = cross_val_score(RandomForestClassifier(n_estimators=5), X, y, cv=cv)
np.average(scores1)

np.float64(0.9466666666666667)

In [20]:
scores2 = cross_val_score(RandomForestClassifier(n_estimators=20), X, y, cv=cv)
np.average(scores2)

np.float64(0.9533333333333335)

In [21]:
scores3 = cross_val_score(RandomForestClassifier(n_estimators=30), X, y, cv=cv)
np.average(scores3)

np.float64(0.9533333333333335)

In [22]:
scores4 = cross_val_score(RandomForestClassifier(n_estimators=40), X, y, cv=cv)
np.average(scores4)

np.float64(0.9600000000000002)